<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Citas Médicas con Recordatorios</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='mario.ico') }}">
</head>
<body>
    <div class="title-container">
        Sistema de Gestión de Citas Médicas con Recordatorios
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_for('pacientes.home') %} active {% endif %}" href="{{ url_for('pacientes.home') }}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_for('doctores.home') %} active {% endif %}" href="{{ url_for('doctores.home') }}">Doctores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_for('citas.home') %} active {% endif %}" href="{{ url_for('citas.home') }}">Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_for('recordatorios.home') %} active {% endif %}" href="{{ url_for('recordatorios.home') }}">Recordatorios</a>
                    </li>
                </ul>
                <ul class="navbar-nav framework-links">
                    <li class="nav-item laravel-link">
                        <a class="nav-link" href="#">
                            <i class="fab fa-laravel framework-icon"></i>
                            Laravel
                        </a>
                    </li>
                    <li class="nav-item codeigniter-link">
                        <a class="nav-link" href="#">
                            <i class="fas fa-cogs framework-icon"></i>
                            CodeIgniter
                        </a>
                    </li>
                    <li class="nav-item flask-link">
                        <a class="nav-link" href="#">
                            <i class="fas fa-flask framework-icon"></i>
                            Flask
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
